*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    color: white;
}

h1,
h2,
h3{
    font-weight: 500;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
 
.clearfix::after{
    content:'';
    display:table;
    clear:both;
}

.float-left {
    float: left;
}

.main-header {
    text-transform: uppercase;
    font-size: 12px;
    background-color: #0d325a;
    line-height: 50px;
}
  

.main-header .logo {
    width: 15%;
    background-color: #0d325a; 
}

.main-header .logo {
    vertical-align: middle;
}


.menu-inline li{
    display:inline-block;
    list-style: none;
    margin-right: 10;
}
.menu-inline li:last-child {
    margin-right: 0;
}

.main-header .navigazione-centrale {
    width: 45%;
    background-color: #0d325a;
}

.main-header .navigazione-destra {
    width: 40%;
    
}

.main-header a{
    text-decoration:none ;
    color: white;
    vertical-align:middle;
    margin-right: 10px;  
}


.bottone {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    color: white;
    border: 1px solid white;
    border-radius: 5%;
    line-height: 1;
}

 .bottone-verde {
    background-color: #7cbb01;
    border-color: #7cbb01;   
}

     /*Hero*/
 .hero {
     height: 480px;
     background-color:#0d325a ;
     background-image: url(../img/background-header.png);
     background-size: 1000px;
     background-repeat: no-repeat;
     background-position: 125% 110%;
 }    

 .hero .container {
     position: relative;
     height: 100%;
 }
}

 .hero .text {
     position:absolute;
     left:0;
     top: 30%;
     transform: translateY(50%);
     
 }