*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    color: white;
}

h1,
h2,
h3
{
    font-weight: 500;
    width: 82%
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding:10px
}
 
.clearfix::after{
    content:'';
    display:table;
    clear:both;
}

.float-left {
    float: left;
}

.w-50{
    width: 50%;
}

.main-header {
    text-transform: uppercase;
    font-size: 12px;
    background-color: #0d325a;
    line-height: 50px;
}
  

.main-header .logo {
    width: 15%;
    background-color: #0d325a; 
}

.main-header .logo {
    vertical-align: middle;
}


.menu-inline li{
    display:inline-block;
    list-style: none;
    margin-right: 10;
}
.menu-inline li:last-child {
    margin-right: 0;
}

.main-header .navigazione-centrale {
    width: 45%;
    background-color: #0d325a;
}

.main-header .navigazione-destra {
    width: 40%;
    
}

.main-header a{
    text-decoration:none ;
    color: white;
    vertical-align:middle;
    margin-right: 10px;  
}


.bottone {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    color: white;
    border: 1px solid white;
    border-radius: 5%;
    line-height: 1;
   
}

 .bottone-verde {
    background-color: #7cbb01;
    border-color: #7cbb01;   
 }

     /*Hero*/
 .hero {
     height: 480px;
     background-color:#0d325a ;
     background-image: url(../img/background-header.png);
     background-size: 1000px;
     background-repeat: no-repeat;
     background-position: 125% 110%;
 }    

 .hero .container {
     position: relative;
     height: 100%;
 }

 .hero  .text {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-40%);
  }

  .hero .text h1{
      margin-bottom: 10px;
      font-size: 40px;
      color:white; 
  }

 


/*grigio*/

 .container2 {
     position: relative;
    height: 100px;
    background-color: grey;
    text-align: center;
    padding:30px;
    color:black
 }

 .container2 h3{
     color:silver;
 }

 /*Sezione Centrale*/

.container3{
    height: 377px;
}

 .clearfix::after{
     content'';
     display: table;
     clear: both;
 }

  .colonne .col {
    float: left;
    width: 20%;
    height: 375px;px;
    margin: 0 10px;
    text-align: center;
    
}

.colonne .col:first-child{
    margin-left: 20%;
}

.colonne .col:last-child{
    
    margin-right: 10%;
}

.flex{
    max-height: 33%;
    margin-top: 30px;
}

 .green{
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    color: rgb(156, 231, 42);
}
 hr{
    width: 15%;
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 5px;
    
}
 h4{
     color:#00000094;
     font-size: 12px;
     margin-top: 5px;
     
 }

 .w-110{
    width: 95%;
 }
 
hr:last-child{
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*container4*/

.box{
   height: 350px;
   width: 50%;
   float:left
}
img:last-child {
    width: 126%;
    height: 95%;
    margin-top: 12px;
}

.box2{
    height:300px ;
    width: 30%;
    margin-right: 20%;
    background-color: coral;
    float: left;
    position: relative;
    top: 30px;
}

.box2 .h{
    margin: 10px auto;
}

h3 {
    color:black;
    font-family: 'Roboto',sans-serif;
}